[submodule "Lib/librime-ahk"]
	path = Lib/librime-ahk
	url = https://github.com/rimeinn/librime-ahk
[submodule "plum"]
	path = plum
	url = https://github.com/rime/plum
[submodule "Lib/Gdip"]
	path = Lib/Gdip
	url = https://github.com/buliasz/AHKv2-Gdip
[submodule "Lib/Direct2D"]
	path = Lib/Direct2D
	url = https://github.com/rawbx/AHK-Direct2D
